<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="template/style.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="{_JSURL}JQueryformFiligrane.js"></script>
</head>
<body>
<div id = "admin_bloc">

	<div id="avatar_bloc">
		<div id="image_bloc"></div>
		<div id="resultat_bloc"><input type="text" id="hashcode_avatar" size="75"/></div>
	</div>
	
	<div id="formulaire_bloc">
		<form name="nouveau_avatar" method="post" action="#">
			<fieldset>
				<legend>Chemin du dossier des images : <img src="{_IMGURL}help.png" class="help type_help" alt="help.png"/></legend>
				<input type="url" id = "dir" name = "dir" value="{_FILIMGDIR}"/><br/>
			</fieldset>
			<fieldset>
				<legend>Texte du filigrane :</legend>
				<input type="text" id="text" name = "text" size="50" maxlength="50" value="{_FILIMGTEXT}"/><br/>
				<!--<input type="range" id="text_size" name = "text_size" min="0" max="4" value="{_FILIMGTEXTSIZE}" size="4" maxlength="4"/><br/>-->
			</fieldset>
			<fieldset>
				<legend>Position : <img src="{_IMGURL}help.png" class="help pixel_help" alt="help.png"/></legend>
				<select name="position" id="position">
					<option value="0">Haut-Droite</option>
					<option value="1">Haut-Gauche</option>
					<option value="2">Bas-Droite</option>
					<option value="3">Bas-Gauche</option>
					<option value="4">Centr&eacute;-Bas</option>
					<option value="5">Centr&eacute;-Haut</option>
					<option value="6">Centr&eacute;-Milieu</option>
				</select><br/>
			</fieldset>
			<fieldset>
				<legend>Couleurs : <img src="{_IMGURL}help.png" class="help color_help" alt="help.png"/></legend>
				<select name="color" id="color">
					<option class="color_0" value="0">Rouge</option>
					<option class="color_1" value="1">Vert</option>
					<option class="color_2" value="2">Bleu</option>
					<option class="color_3" value="3">Violet</option>
					<option class="color_4" value="4">Orange</option>
					<option class="color_5" value="5">Noir</option>
					<option class="color_6" value="6">Jaune</option>
					<option class="color_7" value="7">Marron</option>
				</select><br/>
				<input type="hidden" id="color_id" value="{_FILIMGCOLOR}"/>
			</fieldset>
			<fieldset>
				<legend>Opacit&eacute; : <span class="annotation">Optionnel</span><img src="{_IMGURL}help.png" class="help filtre_help" alt="help.png"/></legend>
				<input type="range" id="opacity" name = "opacity" min="0" max="100" value="{_FILIMGOPACITY}" size="3" maxlength="3"/><br/>
			</fieldset>
			<input type="button" id = "save_button" class = "button" value="Sauvegarder"/>
			<input type="button" id = "preview_button" class = "button" value="Apercu"/>
		</form>
	</div>
	<div id="help_bloc">
		<div id="aide_principale" class="showed">
			Ce Formulaire sert &agrave; la g&eacute;n&eacute;ration d'avatar.<br/><br/>
			<u>Type:</u><br/>
			Deux mode de g&eacute;n&eacute;ration sont disponible : Al&eacute;atoire et Space Invader<br/><br/>
			<u>Taille de l'avatar:</u><br/>
			X : taille en abscisse de l'image<br/>
			Y : taille en ordonn&eacute;e de l'image<br/><br/>
			<u>Taille du pixel:</u><br/>
			X : taille en abscisse d'un pixel<br/>
			Y : taille en ordonn&eacute;e d'un pixel<br/><br/>
			<u>Couleurs:</u><br/>
			Primaire : couleur primaire de l'avatar<br/>
			Secondaire : couleur secondaire de l'avatar<br/><br/>
			<u>Filtres :</u><br/>
			D&eacute;grad&eacute; : Possibilit&eacute; de faire un avatar d&eacute;grad&eacute;
		</div>
		<div id="dir_help">
			<u>Chemin:</u><br/>
			Vous pouvez choisir entre deux g&eacute;n&eacute;ration d'avatar, une g&eacute;n&eacute;ration al&eacute;atoire des formes ou un space Invader
			<img src="images/ex_aleatoire.png" alt="ex_aleatoire.png"/> | <img src="images/sx_spaceInvader.png" alt="sx_spaceInvader.png" />
		</div>

		<div id="text_help">
			<u>Texte:</u><br/>
			<img src="images/ex_aleatoire.png" alt="ex_aleatoire.png"/> | <img src="images/sx_spaceInvader.png" alt="sx_spaceInvader.png"/>
		</div>
		<div id="position_help">
			<u>Position:</u><br/>
			<img src="images/ex_aleatoire.png" alt="ex_aleatoire.png"/> | <img src="images/sx_spaceInvader.png" alt="sx_spaceInvader.png"/>
		</div>
		
		<div id="color_help">
			<u>Couleur:</u><br/>
			<img src="images/ex_aleatoire.png" alt="ex_aleatoire.png"/> | <img src="images/sx_spaceInvader.png" alt="sx_spaceInvader.png"/>
		</div>
		
		<div id="opacity_help">
			<u>Opacité:</u><br/>
			<img src="images/ex_aleatoire.png" alt="ex_aleatoire.png"/> | <img src="images/sx_spaceInvader.png" alt="sx_spaceInvader.png"/>
		</div>
		
	</div>
</div>
</body>
</html>