body{
	
}
.annotation{
	font-size:9px;
	vertical-align: super;
	color:#c0c0c0;
}
fieldset{
	padding:
}

div#admin_bloc{
	width:auto;
}
div#avatar_bloc{
	display: inline-block;
	vertical-align: top;
	
	border:1px solid black;
	text-align:center;
	padding:10px;
	width:45%;
	height:100%;
	
	-moz-border-radius: 55px 20px 55px 20px / 20px 55px 20px 55px;
	border-radius: 55px 20px 55px 20px / 20px 55px 20px 55px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.4) 5px 5px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.4) 5px 5px inset;
	box-shadow:rgba(0, 0, 0, 0.4) 5px 5px inset;
	background: rgba(240,240,240, 0.85);
}

div#formulaire_bloc{
	display: inline-block;
	vertical-align: top;
	
	border:1px solid black;
	padding:10px;
	height:100%;
	width:auto;
	clear:none;
	
	-moz-border-radius: 55px 20px 55px 20px / 20px 55px 20px 55px;
	border-radius: 55px 20px 55px 20px / 20px 55px 20px 55px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.4) 5px 5px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.4) 5px 5px inset;
	box-shadow:rgba(0, 0, 0, 0.4) 5px 5px inset;
	background: rgba(240,240,240, 0.85);
	
}

img#help{
	vertical-align: top;
	float:right;
	clear:none;
}

div#help{
	display:inline-block;
	vertical-align:top;
	clear:none;
	padding:10px;
	border:1px solid black;
	width:20%;
	height:100%;
	font-size:12px;
	-moz-border-radius: 55px 20px 55px 20px / 20px 55px 20px 55px;
	border-radius: 55px 20px 55px 20px / 20px 55px 20px 55px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.4) 5px 5px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.4) 5px 5px inset;
	box-shadow:rgba(0, 0, 0, 0.4) 5px 5px inset;
	background: rgba(240,240,240, 0.85);
}

div#image_bloc{
	height:80%;
}

div#resultat_bloc{
	margin-bottom:50px;
}

div#type_help{
	display:none;
}
div#pixel_help{
	display:none;
}
div#couleur_help{
	display:none;
}
div#filtre_help{
	display:none;
}
